*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/release/output.json
app/release/app-release.apk
app/debug/output.json
app/debug/app-debug.apk
*.apk
app/prod/release/output.json
