<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simplicityapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <application
        android:name=".base.config.ThisApplication"
        android:allowBackup="true"
        android:icon="${appIcon}"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".modules.categories.activity.CategoriesSelectorActivity" />
        <activity
            android:name=".modules.start.activity.ActivityWelcome"
            android:theme="@style/Start.BaseTheme" />
        <activity
            android:name=".modules.start.activity.ActivityLogin"
            android:label="@string/title_activity_login"
            android:theme="@style/Start.BaseTheme" />
        <activity
            android:name=".modules.start.activity.ActivitySplash"
            android:theme="@style/Start.BaseTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.main.activity.ActivityMain"
            android:label="@string/app_name"
            android:theme="@style/BaseTheme" />
        <activity
            android:name=".modules.places.activity.ActivityMaps"
            android:label="@string/activity_title_maps"
            android:theme="@style/BaseTheme" />
        <activity android:name=".modules.places.activity.ActivityPlaceDetail" />
        <activity android:name=".modules.places.activity.ActivitySearch" />
        <activity android:name=".modules.notifications.activity.ActivityNotifications" />
        <activity android:name=".modules.notifications.activity.ActivityNotificationDetails" />
        <activity
            android:name=".modules.settings.activity.ActivitySetting"
            android:label="@string/activity_title_settings"
            android:theme="@style/AppThemeSetting" />
        <activity android:name=".modules.places.activity.ActivityFullScreenImage" /> <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- Add Google Map Library -->
        <uses-library android:name="com.google.android.maps" /> <!-- Google API Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/api_key" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service android:name=".base.config.fcm.FcmMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>